.merch-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Adjust height as needed */
}

.image-column {
    flex: 0 0 75%; /* Take up 75% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-image {
    max-width: 100%; 
    height: auto; 
}

.info-column {
    flex: 1; 
    background-color: white; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}