.merch-container {
    position: relative; /* Enable positioning for child elements */
    display: flex;
    flex-direction: row;
    height: 100vh; /* Adjust height as needed */
}

.image-column {
    flex: 0 0 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-image {
    max-width: 100%;
    height: auto; 
}

.info-column {
    flex: 1; 
    background-color: white; 
}

.overlay {
    position: absolute; 
    top: 45%; 
    left: 50%; 
    right: 10%; 
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 1em; 
    border-radius: 1em; 
    text-align: left; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional: shadow for depth */
}

.overlay h2{
    font-size: 2em;
}