.merch-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 2em auto;
}

.image-column {
    flex: 0 0 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-image {
    max-width: 100%; 
    height: auto; 
}

.info-column {
    flex: 1; 
    background-color: white; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}