@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

.Macondo {
  font-family: 'Macondo', cursive;
}